<div class="prd">
    <!--card-->
    <div class="card h-100 border border-0">
     <!--carousel-->
        <div class="carousel slide carousel-fade" data-bs-ride="carousel" id="crs5">
           <!--carosuel indicators-->
            <div class="carousel-indicators">
                <button data-bs-target="#crs5" data-bs-slide-to="0" class="active"></button>
                <button data-bs-target="#crs5" data-bs-slide-to="1"></button>
                <button data-bs-target="#crs" data-bs-slide-to="2"></button>
            </div>

            <!--carousel items-->
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="https://wallpapercave.com/wp/wp2734786.jpg" alt="">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="https://wallpapercave.com/wp/eYlFNyf.jpg" alt="">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="https://wallpapercave.com/wp/wp2645747.jpg" alt="" >
                </div>

                <!--carousel controls-->
                <button class="carousel-control-prev" data-bs-target="#crs5" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" data-bs-target="#crs5" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </div>

        <!--card-body-->
        <div class="card-body text-center">
            <button class="btn btn-primary float-start" (click)=changeStatus()>Cartoon</button>
            <button class="btn btn-primary" (click)=changeStatus2()>Characters</button>  
            <button class="btn btn-primary float-end" (click)=changeStatus3()>Channel</button>        
            <div class="text-center">
                <h2 *ngIf="status">Cindrella</h2>
                <h2 *ngIf="status2">Cindrella</h2>
                <h2 *ngIf="status3">Sahara TV</h2>
            </div>
        </div>
    </div>
</div>